* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0 auto;
  background-color: black;
}

#header {
  background-color: #fcfcfa;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

header img {
  width: 200px;
  height: auto;
}

header ul {
  display: flex;
  font-size: 25px;
  list-style: none;
}

header ul li a {
  padding-right: 50px;
  text-decoration: none;
  color: #000000;
}

#main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main_content h1 {
  font-size: 30px;
  font-style: bold;
}

#main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
}

#img_container img {
  border-radius: 10px;
  box-shadow: 10px 10px 20px #000000;
}

#main_container h1 {
  color: #ffffff;
  font-size: 50px;
}

#main_container p {
  width: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.products_main_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 50px;
}

.products_main_top img {
  height: 320px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #000000;
  margin: 0 auto;
}

.products_main_top p {
  max-width: 1080px;
  color: #ffffff;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.products_main_top h1 {
  margin-right: 60%;
  color: #ffffff;
  font-size: 50px;
}

#products_main_products {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.products {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  padding-right: 50px;
  padding-left: 50px;
}

.products p {
  max-width: 400px;
  color: #ffffff;
  font-size: 20px;
  max-width: 80%;
}

.products h2 {
  margin-right: 50%;
  color: #ffffff;
  font-size: 30px;
}

.products h3 {
  margin-right: 45%;
  color: #ffffff;
  font-size: 25px;
  margin: 0 auto;
  margin-left: 40px;
  margin-top: 18px;
}
.products img {
  height: 320px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #000000;
  margin: 0 auto;
  margin-right: 20px;
}

.map_container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  margin-top: 400px;
}

.map_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  padding-right: 60px;
}

.map_info h1 {
  margin: 0;
  color: #ffffff;
  font-size: 50px;
}

.map_info p {
  max-width: 100%;
  color: #ffffff;
  font-size: 28px;
}
